* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*** Primary ***/
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  /*** Neutral ***/
  --white: hsl(0, 0%, 100%);
  --grayish-blue:  hsl(240, 2%, 79%)
  --very-dark-grayish-blue:  hsl(207, 13%, 34%)
  --very-dark-black-blue:  hsl(240, 10%, 16%);
  /*** Gradient ***/
  --very-light-red-grad: hsl(13, 100%, 72%);
  --light-red-grad: hsl(353, 100%, 62%);

  /*** primary ***/
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  font-size: 16px;
}

header {
  background-size: 170%;
  background-image: url('./images/bg-pattern-intro.svg'), linear-gradient(90deg, var(--very-light-red-grad), var(--light-red-grad));
  background-repeat: no-repeat;
  background-position: 10% 53%;
  height: 460px;
  border-bottom-left-radius: 50px;
  color: var(--white);
  font-family: 'Overpass', sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-btn {
  border-radius: 25px;
  padding: 10px 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.login {
  background-color: transparent;
  border: none;
  color: var(--white);
  margin-right: 10px;
  color: var(--grayish-blue);
  opacity: 0.8;
}

.white-btn {
  background-color: var(--white);
  border: none;
  color: var(--very-light-red-grad);
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 120px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-basis: 50%;
}

.logo {
  color: var(--white);
}

/*** Dropdown ***/

.dropdown-row  {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 75%;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn {
  flex-basis: auto;
  border: none;
  background: transparent;
  color: var(--white);
  cursor: pointer;
  color: var(--grayish-blue);
  opacity: 0.6;
  font-weight: 500;
}

.dropdown img {
  padding-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 20px;
  left: -35px;
  min-width: 160px;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropbtn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.dropdown-content a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.show { display: block; }

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-bottom: 2px solid var(--white);
}

.dropdown:hover img {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.landing-header-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 40px;
}

.sub-header {
  padding-bottom: 30px;
  font-weight: 300;
  color: var(--grayish-blue);
  opacity: 0.6;
}

.learn-more-btn {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  margin-left: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
